<div class="header">
  <div class="page-section align-start">
    <h1>Insta</h1>
  </div>
  <div class="page-section align-center">
    <input type="search"
           placeholder="Search"
           (keyup)="emitSearchResult($event)">
  </div>
  <div class="page-section align-end">
    <span class="material-icons">home</span>
    <span class="material-icons">reviews</span>
    <span class="material-icons">add</span>
    <span class="material-icons">explore</span>
    <span class="material-icons">favorite</span>
    <span>{{username}}</span>
  </div>
</div>
