.page-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  .page-content {
    flex: 1 1 50%;

    .align-horizontal {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .align-vertical {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
