<app-header [username]="users[0].username"
            (search)="log($event)"></app-header>
<div class="page-container">
  <div class="page-content">
    <div class="align-horizontal">
      <ng-container *ngFor="let story of users">
        <app-stories [photo]="story.image"
                     [hasStory]="false"
                     [size]="140"></app-stories>
      </ng-container>
    </div>
    <div class="align-vertical">
      <ng-container>
        <app-post [username]="users[0].username"
                  [photo]="posts[0].image"
                  [description]="posts[0].description"
                  [comment]="posts[0].comments"
                  [likes]="posts[0].likesCount"
                  ></app-post>
      </ng-container>
    </div>
  </div>
  <div class="page-content">
    <div class="align-vertical">
      <app-suggestions *ngFor="let suggestion of users[0].suggestions"
                       [username]="suggestion.username"
                       [description]="suggestion.description">
        <app-stories [photo]="suggestion.image"
                     [hasStory]="true"
                     [size]="80"></app-stories>
      </app-suggestions>
    </div>
  </div>
</div>
